* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  background: hsl(0, 0%, 98%);
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  margin: 5% 0;
  height: 570px;
}

h2 {
  color: $heading-color;
  font-weight: 600;
}

p {
  color: $content-color;
}