// fonts
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/poppins/Poppins-ExtraLight.ttf);
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/poppins/Poppins-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins', sans-serif;
  src: url(../fonts/poppins/Poppins-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
