@import "fonts";
@import "variables";
@import "base";

// main style

header {
  margin-top: 50px;
  font-size: .7em;

  h1 {
    font-weight: 200;
    color: $content-color;
    line-height: 1.5em;
    margin-bottom: 10px;

    span {
      color: $heading-color;
      font-weight: 600;
    }

  }

  p {
    text-align: center;
  }

}

.card {
  max-height: 300px;
  border-style: solid;
  border-color: #fff;
  border-top-width: 4px;
  border-radius: 10px;
  box-shadow: 1px 4px 4px lighten($content-color, 5);
  padding: 30px 20px;


  .card__desc {
    padding: 10px 0;
  }

  .card__image {
    float: right;
    max-width: 100%;
    padding-top: 30px;
  }

}

.card--top {
  border-top-color: hsl(0, 78%, 62%);
  grid-area: team;
}

.card--right {
  border-top-color: hsl(212, 86%, 64%);
  grid-area: calculator;
}

.card--bottom {
  border-top-color: hsl(34, 97%, 64%);
  grid-area: karma;
}

.card--left {
  border-top-color: hsl(180, 62%, 55%);
  grid-area: supervisor;
}

.card--center, .card--side {
  grid-column: 1/7;
}


footer {
  background: hsl(229, 6%, 66%);
  .attribution {
    padding: 30px;
    color: hsl(234, 12%, 34%);
    text-align: center;
    font-size: 10px;
  }

  a {
    text-decoration: none;

    &:hover {
      background: hsl(180, 62%, 55%);
      color: hsl(212, 86%, 64%);
    }
  }
}



// Media Queries

@media screen and (min-width: 320px) {
  header {
    h1 {
      font-size: 1.2rem;
    }
  }

  h2 {
    font-size: 1.1rem;
  }

  p {
    font-size: .85rem;
  }

}
@media screen and (min-width: 450px) {
  header {
    h1 {
      font-size: 1.5rem;
      text-align: center;
    }
  }
}


// Table style
@media screen and (min-width: 560px) {
  .wrapper {
    margin-left: 10%;
    margin-right: 10%;
  }

  .card {
    padding-left: 30px;
    padding-right: 30px;
  }

}

@media screen and (min-width: 670px) {

  header {
    h1 {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1rem;
  }

  .wrapper {
    margin: 10% auto;
    grid-template-areas:
      "supervisor supervisor supervisor team team team"
      "karma karma karma calculator calculator calculator";
  }

  .card--center {
    grid-column: span 3;
  }

  .card--side {
    grid-column: span 3;
  }
}


// Desktop Style

@media screen and (min-width: 1000px) {
  .container {
    width: 85%;
  }

  .wrapper {
    grid-template-columns: repeat(6, 15%);
    grid-template-areas: "supervisor . team . karma calculator";
    height: auto;
    grid-gap: 30px;
  }
  .card--center {
    grid-column: 3 / 5;
  }

  .card--side {
    grid-row: 1 / span 3;
    align-self: center;
  }

  .card--bottom {
    grid-row:2 / span 2;
  }

  .card--left {
    grid-column: 1 / 3;
  }

  .card--right {
    grid-column: 5 / 7;
  }

}